.gameInfo {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    div {
        width: 33%;
    }

    &_timer {
        text-align: end;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: calc(50% - 40px);
    transform: translate(-50%, -50%);    
}

.grid {
    margin-top: 4px;
    display: grid;
    width: fit-content;
  }