$grey: #6C6C6C;
$cBlue: #0000ff;
$cGreen: #008800;
$cRed: #ff0808;
$cDarkBlue: #080888;
$cDarkRed: #880808;
$cCyan: #088688;
$cPurple: #880888;
$cGrey: #757575;

$cDarkMain: rgb(0, 0, 0, 0.8);
$cPastelBlue: #90CEE1;