#root{
  height: 100%;
}

.wrapper{
  display: flex;
  height: 100%;
  align-items: center;
}




.difficultyPicker {
  padding: 10px 8px;
  border: 1px solid black;
  background-color: white;
}

.difficultyPicker.active {
  background-color: lightblue;
  opacity: 0.8;
}



